

<div class="backgroundpic1">
	<%= render 'layouts/header' %>

	<div class="pageheader">
		<h1>meet & greet</h1>

		<p> dupp&swat is located in NoDa, Charlotte’s arts district, and houses retail/showroom selections, a full-service salon and art gallery. Additionally, this colorful studio is used for a host of happenings as it morphs into event space, as well.</p>


	</div>

	<div class="scrolldown">Scroll Down</div>
</div>



<div class="pagesection">
	<div class="sectionstudio">

		<div class="studio-info">
		<div class="subheader-section2">
		Store Hours:
		</div><div class="clear"></div>
		<ul>
		<li>Mon: Closed</li>
		<li>Tue: 11am - 7pm</li>
		<li>Wed: 11am - 7pm</li>
		<li>Thu: 11am - 7pm</li>
		<li>Fri: 11am - 7pm</li>
		<li>Sat: 11am - 7pm</li>
		<li>Sun: 1pm - 6pm</li>
		<li></br>(Open Longer, If Having An Event)</li>
		</ul>
		<div class="subheader-section2">
		Location:
		</div><div class="clear"></div>
		<div class="location-address">2424 N Davidson St, Suite 112B</br>Charlotte, North Carolina 28205</br></br>Contact to rent venue:</br> info@duppandswat.com</br>980.224.2128</div>
		</div>

		<div class="studio-map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3258.6072794762226!2d-80.812057!3d35.241144999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8856a075a7b30c77%3A0x212f809f0dec4aee!2s2424+N+Davidson+St+%23112b!5e0!3m2!1sen!2sus!4v1399349280517" width="100%" height="400px" frameborder="0" style="border:0"></iframe>
		</div>


		<div class="photostudio-box">
			<%= image_tag 'studio1.jpg', :class => "studioimage" %>
			<%= image_tag 'studio2.jpg', :class => "studioimage" %>
			<%= image_tag 'studio3.jpg', :class => "studioimage" %>
			<%= image_tag 'studio4.jpg', :class => "studioimage" %>
			<%= image_tag 'studio5.jpg', :class => "studioimage" %>
			<%= image_tag 'studio6.jpg', :class => "studioimage" %>
			<%= image_tag 'studio7.jpg', :class => "studioimage" %>
			<%= image_tag 'studio8.jpg', :class => "studioimage" %>
			<%= image_tag 'studio9.jpg', :class => "studioimage" %>
			<%= image_tag 'studio10.jpg', :class => "studioimage" %>
			<%= image_tag 'studio11.jpg', :class => "studioimage" %>
		</div>

	</div>






</div>